* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    background-image: url("img/bg.png");
    background-repeat: repeat;
    font-family: 'Open Sans';
}
.container {
    width: 1200px;
    margin: auto;
}
.chart {
    width: 1200px;
}

.garfield-links
{
    position: relative;
    top:-156px;
    left:60px;
    width:234px;
}
.cheshire-links
{
    position: relative;
    top:-166px;
    left:56px;
    width:250px;
}
.pinkpanther-links
{
    position: relative;
    top:-134px;
    left:124px;
    width:260px;
}
.pinkpanther-links-comment
{
    width: 800px;
    margin-top: 20px;
    color: white;
    font-size: 9px;
}

.alien-links
{
    position: relative;
    top: -126px;
    left: 174px;
    width:216px;
}
.zombie-links
{
    position: relative;
    top:-116px;
    left:62px;
    width:226px;
}
.simba-links
{
    position: relative;
    top:-74px;
    left:296px;
    width:168px;
}
.golden-links
{
    position: relative;
    top:-72px;
    left:250px;
    width:274px;
}

.pikachu-links
{
    position: relative;
    top:-66px;
    left:284px;
    width:206px;
}

.info-box
{
    color: #fff;
    background: black;
    font-size: 14px;
    width: 800px;
    margin: 100px 200px 100px 200px;
    padding: 10px 10px 30px 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #fff;
}

.info-box h2
{
    font-size: 18px;
    text-align: center;
}

.info-box ul
{
    padding-left: 20px;
    font-weight: bolder;
}

.info-box ul ul 
{
    padding-left: 40px;
    font-weight: normal;
}

.info-box li
{
    padding-top: 5px;
}

.info-box a {
    text-decoration: none;
}

.info-box a:link {
    color: #ee81ee;
}

.info-box a:visited {
    color: #ee81ee;
}
  

.info-box a:hover {
    color: hotpink;
}

.link-grid
{
    display: grid;
    grid-template-columns: auto 24px 24px;
    column-gap: 5px;
}

.character-name
{
    font-size: 18px;
    color:black;
}

.marketplace-link
{
    height: 24px;
}

.marketplace-logo
{
    width: 24px;
}

.opensea-logo
{
    width: 24px;
    height: 24px;
    background: url("img/os-logo-passive.png") no-repeat;
    background-size: contain;
    display: inline-block;
}

.opensea-logo:hover
{
    background: url("img/os-logo.png") no-repeat;
    background-size: contain;
}

.blur-logo
{
    width: 24px;
    height: 24px;
    background: url("img/blur-logo-passive.png") no-repeat;
    background-size: contain;
    display: inline-block;
}

.blur-logo:hover
{
    background: url("img/blur-logo.png") no-repeat;
    background-size: contain;
}

.link-divider
{
    margin-top: 5px;
    margin-bottom: 5px;
    border: 0.4px solid black;
}

.topbar {
    overflow: hidden;
}
.topnav a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #5a935a;
    color: white;
}
.toptitle h1 {
    float: left;
    color: white;
    text-align: center;
    padding: 14px 0px 14px 16px;
    font-size: 17px;
    font-weight: bold;
}
.toptitle img {
    float: left;
    width: 22px;
    padding: 14px 0px 15px 10px;
}
.toptitle a {
    float: left;
    color: #2aa9e0;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px 14px 0px;
    font-size: 17px;
}
.toptitle a:hover {
    color: #1f7ba3;
}

.linksbox
{
    text-align: center;
}

.linksbox p {
    color: white;
    font-size: 17px;
    padding-top: 30px;
}

.linksbox a {
    color: #5a935a;
    font-size: 17px;
}

@font-face {
    font-family: 'logotype';
    src: url('fonts/setbackt.ttf');
}

.day1-hof-header{
    font-family: logotype;
    text-shadow: 5px 5px hsla(0,0%,100%,.25);
    text-align: center;
    color: #8e8;
}

.day1-hof-header h1 {
    font-size: 60px;
}

.day1-hof-header h2 {
    font-size: 36px;
}

.day1-card{
    background-color: #e8f3e1;
    width: 130px;
    height: 200px;
    text-align: center;
}

.day1-card-name{
    background-color: #c5dcb7;
    font-size: 16px;
    font-weight: 800;
}

.day1-card-account{
    font-size: 12px;
}

.day1-card-catimage{
    height: 120px;
}

.day1-card-catid{
    background-color: #c5dcb7;
}

.day1-card-catname{
    font-size: 12px;
}